/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos da página */
  body {
    background-color: #f0f0f0; /* Cor de fundo clean */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza verticalmente na tela */
  }
  
  /* Estilos dos componentes */
  .componente {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Fundo branco para os componentes */
  }
  
  .componente input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .componente button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .componente button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para o link */
  .componente label {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    cursor: pointer;
  }
  
  .componente label:hover {
    text-decoration: underline;
  }
  input:focus {
    background-color: #f0f0f0; /* Cor de fundo quando o input está em foco */
  }

  